[Unit]
Description=check proxy
#After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

#Type=oneshot
#RemainAfterExit=yes
#ExecStart=
#ExecStop=

Type=simple
ExecStart=/PATH/TO/checkproxy
#ExecStop=

WorkingDirectory=/PATH/TO/WD
Restart=always
#Environment=
[Install]
WantedBy=multi-user.target
