[Unit]
Description=check proxy
#After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

#Type=oneshot
#RemainAfterExit=yes
#ExecStart=
#ExecStop=

User=eagle
Type=simple
ExecStart=EXE
#ExecStop=

WorkingDirectory=PWD
Restart=always
#Environment=
[Install]
WantedBy=multi-user.target
